@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  padding: 15px;
  text-align: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.9);
}
main {
  max-width: 1000px;
  margin: auto;
}

.logo {
  font-family: "Oswald";
  font-size: 3em;
  color: #278a14;
}
body {
  height: 100vh;
  /* background-color: rgb(240, 235, 235); */
  background-image: url("../assets/back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.containerSearch {
  display: flex;
  flex-direction: column;
  justify-items: end;
  margin: auto;
  width: 90%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.918);
  padding: 30px;
  margin-top: 50px;
}
.containerSearch > span {
  width: 100%;
  text-align: center;
  font-family: "Roboto";
  color: rgb(51, 51, 51);
  font-size: 1.7em;
  margin-bottom: -90px;
}

.containerInputs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.inputDomain {
  padding: 10px;
  width: 95%;
  height: 60px;
  font-size: 1.2rem;
  font-family: "Roboto";
  font-weight: lighter;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
  border: 1px solid rgba(0, 0, 0, 0.205);
}
.inputDomain::placeholder {
  text-transform: uppercase;
}

.btnSearch {
  width: 50px;
  height: 60px;
  background-image: url("../assets/loupe.png");
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  border: none;
  margin-left: -10px;
  background-color: white;
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.205);
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  border-right: 1px solid rgba(0, 0, 0, 0.205);
  transition-duration: 0.6s;
}
.btnSearch > img {
  width: 50px;
  height: 50px;
}

.btnSearch:hover {
  background-image: url("../assets/loupeGreen.png");
  background-size: 30px;
}
.containerInfDomain {
  width: 90%;
  padding: 20px 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.089);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.918);
  border: 1px solid rgba(0, 0, 0, 0.205);
  margin-top: 50px;
  font-family: "Roboto";
  margin-bottom: 50px;
}
.containerStatus {
  padding: 0px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.356);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* Define a largura da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
}

/* Cor de fundo da barra */
::-webkit-scrollbar-track {
  background: white;
}

/* Cor e formato do botão de rolagem */
::-webkit-scrollbar-thumb {
  background: #278a14;
}

/* Efeito ao passar o mouse sobre a barra */
::-webkit-scrollbar-thumb:hover {
  background: #ffc857;
}
.pDomain {
  text-align: center;
  width: 90%;
  font-size: 2em;
  font-weight: 350;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pStatus {
  font-size: 1.6em;
  font-weight: 300;
}

.divP {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.suggestions {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 300px;
  margin: auto;
  gap: 1em;
  overflow: auto;
  scroll-behavior: smooth;
  margin-bottom: 20px;
}
.suggestions > p {
  font-size: 1.6em;
  font-weight: 300;
  width: 80%;
  padding: 10px 0px;
  border-bottom: 1px solid #2ba3137a;
}
.containerSuggestions {
  width: 100%;
}

.containerSuggestions > h3 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 20px;
}
